@attribute [Route(Constants.ROUTE_PRODUCT_MAIN)]
@inject HttpClient Http
@inject NavigationManager NavManager
@inject IDialogService DialogService

<PageTitle>Productos</PageTitle>


<MudPaper Class="justify-content-between align-items-end d-flex flex-grow-1 gap-4 my-3" Elevation="0">
    <MudText Class="my-3" Typo="Typo.h4">Mis productos</MudText>
    <MudButton Href=@Constants.ROUTE_PRODUCT_ADD Variant="Variant.Filled" Color="Color.Primary">Agregar</MudButton>
</MudPaper>

@if (products == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <MudDataGrid Items="@products" Elevation="25">
        <Columns>
            <PropertyColumn Property="x => x.ProductId" Title="Id"/>
            <PropertyColumn Property="x => x.Description" Title="Descripcion"/>
            <PropertyColumn Property="x => x.Price" Title="Precio"/>
            <PropertyColumn Property="x => x.Quantity" Title="Cantidad de items"/>
            <PropertyColumn Property="x => x.ItemsPerBox" Title="Cantidad por caja"/>
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate >
                    <MudStack Row>
                        <MudIconButton @onclick="@(() => Edit(context.Item.ProductId))" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small"/>
                        <MudIconButton @onclick="@(() => Delete(context.Item.ProductId))" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small"/>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}