@attribute [Route(Constants.ROUTE_PROPERTY_MAIN)]
@inject HttpClient Http
@inject NavigationManager NavManager
@inject IDialogService DialogService

<PageTitle>Propiedades</PageTitle>


<MudPaper Class="justify-content-between align-items-end d-flex flex-grow-1 gap-4 my-3" Elevation="0">
    <MudText Class="my-3" Typo="Typo.h4">Mis propiedades</MudText>
    <MudButton Href=@Constants.ROUTE_PROPERTY_ADD Variant="Variant.Filled" Color="Color.Primary">Agregar</MudButton>
</MudPaper>

@if (properties == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <MudDataGrid Items="@properties" Elevation="25">
        <Columns>
            <PropertyColumn Property="x => x.PropertyId" Title="Id"/>
            <PropertyColumn Property="x => x.Name" Title="Nombre"/>
            <PropertyColumn Property="x => x.Price" Title="Precio"/>
            <PropertyColumn Property="x => x.RentPrice" Title="Alquiler"/>
            <PropertyColumn Property="x => x.Environments" Title="Ambientes"/>
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate >
                    <MudStack Row>
                        <MudIconButton @onclick="@(() => Edit(context.Item.PropertyId))" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small"/>
                        <MudIconButton @onclick="@(() => Delete(context.Item.PropertyId))" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small"/>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}