@attribute [Route(Constants.ROUTE_CLIENT_MAIN)]
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>Clientes</PageTitle>

<MudPaper Class="justify-content-between align-items-end d-flex flex-grow-1 gap-4 my-3" Elevation="0">
    <MudText Class="my-3" Typo="Typo.h4">Clientes</MudText>
    <MudButton Href=@Constants.ROUTE_CLIENT_ADD Variant="Variant.Filled" Color="Color.Primary">Agregar</MudButton>
</MudPaper>

@if (clients == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <MudDataGrid Items="@clients" Elevation="25">
        <Columns>
            <PropertyColumn Property="x => x.ClientId" Title="Id"/>
            <PropertyColumn Property="x => x.PersonalId" Title="DNI"/>
            <PropertyColumn Property="x => x.Name" Title="Nombre"/>
            <PropertyColumn Property="x => x.Surname" Title="Apellido"/>
            <PropertyColumn Property="x => x.Email" Title="Email"/>
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate >
                    <MudStack Row>
                        <MudIconButton @onclick="@(() => Edit(context.Item.ClientId))" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small"/>
                        <MudIconButton @onclick="@(() => Delete(context.Item.ClientId))" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small"/>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}